@{
    ViewData["Title"] = "Home Page";
}


<main>

    <div id="myCarousel" class="carousel slide fixed" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="~/img/carrousel1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Abri tu mente</h1>
                        <p>Conoce nuevos lugares </p>
                        <p>
                            <form action="" class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn01" type="submit">Buscar</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Publicidad Bar/Boliche. <span class="text-muted">Chamullo.</span></h2>
            <p class="lead">Un texto expositivo es una clase de modalidad textual que presenta un intercambio objetivo de los hechos, las ideas o los conceptos. Su finalidad es informar temas de interés general para un público no especializado y textos de un tema en particular..</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/promociones.png" alt="" width="600" height="400">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Publicidad Bar/Boliche. <span class="text-muted">Chamullo.</span></h2>
            <p class="lead">Un texto expositivo es una clase de modalidad textual que presenta un intercambio objetivo de los hechos, las ideas o los conceptos. Su finalidad es informar temas de interés general para un público no especializado y textos de un tema en particular..</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/img/promociones.png" alt="" width="600" height="400">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Publicidad Bar/Boliche. <span class="text-muted">Chamullo.</span></h2>
            <p class="lead">Un texto expositivo es una clase de modalidad textual que presenta un intercambio objetivo de los hechos, las ideas o los conceptos. Su finalidad es informar temas de interés general para un público no especializado y textos de un tema en particular..</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/promociones.png" alt="" width="600" height="400">

        </div>
    </div>

    <hr class="featurette-divider">







</main>
