@{
    ViewData["Title"] = "Listado";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />

<style>
    /* Some custom styles to beautify this example */
    p {
        padding: 50px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        background: #dbdfe5;
    }
</style>

<body>
    <h2 class="text-center mt-3">Listado de bar y boliches</h2>
    <div class="text-center my-3"> Encontrá lo que mas te gusta pete</div>
    <div class="container-lg">
        <div class="row">
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 1</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 2</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 3</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 4</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 5</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 6</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 7</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 8</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 9</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 10</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 11</p></div>
            <div class="col-xl-4"><p style="border-radius: 10px;">Boliche 12</p></div>
        </div>
    </div>
</body>
