<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DondeSalimos</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuarios/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Clientes/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Grupos/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grupos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reservas/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reservas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Comercios/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Comercios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Novedades/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Novedades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Resenias/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reseñas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Publicidades/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Publicidades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pagos/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pagos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Facturas/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Presupuestos/Listado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Presupuestos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
