@page "/Usuarios/Eliminar/{ID_Usuario:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Eliminar administrador</h3>
<form>
    <div class="row">
        <div class="col-md-5">
            <b>Usuario</b><br />
            <input type="text" class="form-control" @bind-value="Usuario.NombreUsuario" disabled="disabled" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 alert alert-danger">
            <h5>¿Esta seguro que desea eliminarlo?</h5>
            <input type="hidden" @bind-value="Usuario.ID_Usuario" />
            <button type="button" class="btn btn-danger" @onclick="borrar">Si</button>
            <a class="btn btn-primary" href="Usuarios/Listado">No</a>
        </div>
    </div>
    <br />
</form>

@code {

    [Parameter] public int ID_Usuario { get; set; }
    public string Url = "/api/usuarios";

    DondeSalimos.Shared.Modelos.Usuario Usuario = new DondeSalimos.Shared.Modelos.Usuario();

    protected override async Task OnInitializedAsync()
    {
        if (ID_Usuario > 0)
        {
            Usuario = await Http.GetFromJsonAsync<DondeSalimos.Shared.Modelos.Usuario>($"{Url}/{ID_Usuario}");
        }
    }

    async Task borrar()
    {
        await Http.DeleteAsync($"{Url}/{ID_Usuario}");

        NavigationManager.NavigateTo("/Usuarios/Listado");
    }
}